<div class="container">
  <h1 class="color pt-5">Create an account</h1>
  <div class="row">
    <div class="card p-3 col-4 offset-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.input :first_name,
                    required: true,
                    input_html: { autocomplete: "first_name" } %>


        <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "Last_name" } %>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>


        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>


        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>


                    
        <%= f.input :avatar, as: :file %>      
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Create", class:"btn btn-success w-100 mb-3" %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
