<h1 class="color p-3">Welcome <%= current_user.first_name %></h1>


<div class="container">
  <div class="card p-3 col-4 offset-4">
      <h2 class="p-3">My Rentals</h2>
        <p><% current_user.offers.each do |offer| %></p>
          <p>Console : <%= offer.name %></p>
          <p>description : <%= offer.description %></p>
          <P>Price/day : <%= offer.price_per_day %> $ </P>
        <% end %>
  </div>
</div>


<div class="container">
    <div class="card p-3 col-4 offset-4">
      <h2 class="p-3">My bookings</h2>
      <p><% current_user.bookings.each do |offer| %></p>
          <p>Console : <%=  %></p>
          <p>Start date : <%= offer.start_date %></p>
          <p>End date : <%= offer.end_date %></p>
          <p>total price : <%= offer.total_price %> $ </p>
          <p>Status : <%= offer.status %></p>
        <% end %>
    </div>
</div>
