<h1 class="color pt-5"><%= current_user.first_name %></h1>

<div class="profil_body">

  <div class="content">
      <div class="card p-3">
        <h3 class="p-3 color">My console</h3>
        <div class="box p-3 mt-3">
        <% current_user.offers.each do |offer| %>
          <p>Console : <%= offer.name %></p>
          <p>description : <%= offer.description %></p>
          <P>Price/day : <%= offer.price_per_day %> $ </P>
        <% end %>
      </div>
    </div>

    <div class="card p-3">
      <h3 class="p-3 color">Whish List</h3>
      <div class="box p-3 mt-3">
        <% current_user.bookings.each do |booking| %>
          <p>Console : <%= booking.offer.name %></p>
          <p>Start date : <%= booking.start_date %></p>
          <p>End date : <%= booking.end_date %></p>
          <p>total price : <%= booking.total_price %> $ </p>
          <p>Status : <%= booking.status %></p>
        <% end %>
      </div>
    </div>

    <div class="card p-3">
    <h3 class="p-3 color">My Historic</h3>
      <div class="box p-3 mt-3">
        <% current_user.booked_offers.each do |booking| %>
          <p>Console : <%= booking.offer.name %></p>
          <p>Start date : <%= booking.start_date %></p>
          <p>End date : <%= booking.end_date %></p>
          <p>total price : <%= booking.total_price %> $ </p>
          <p>Status : <%= booking.status %></p>

          <% if booking.status == "Pending" %>
          <div class="footer_Cp">
              <p><%=link_to "Accept",
                              accept_booking_path(booking),
                              class:"btn btn-success",
                              method: :patch %></p>
              <p><%=link_to "Decline",
                              decline_booking_path(booking),
                              class:"btn btn-danger",
                              method: :patch %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <%= link_to 'Go Back Offers', offers_path, class:"btn btn-primary" %>
</div>
