<h1>All games and gaming console :</h1>
  <div class="content cards">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer), class: "offer_link" do %>
        <div class="card">
          <div class="picture">
            <%= cl_image_tag offer.photo.key, crop: :fill %>
          </div>
          <div class="texte">
            <h2><%= offer.name %></h2> 
            <i class="far fa-heart"></i>
            <p><%= offer.description %></p>
            <p><%= offer.price_per_day %> $</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <%= link_to "Go Home", root_path, class:"btn btn-primary rounded"%>
