<div class="index_body">
  <div class="index_banner">
    <h1>All gaming console :</h1>


    <div class ="search">
      <div class="nav-item" >
        <%= form_tag offers_path, method: :get, class: "search-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a console"
          %>
        <%= render "components/boutonflex", action: "Find!" %>
        <% end %>
      </div>
    </div>

  </div>
  <!---pas toucher content cards---->
  <div class="flexbox">
    <div class="content cards">
      <% @offers.each do |offer| %>
        <%= link_to offer_path(offer), class: "offer_link" do %>
          <div class="card contour mr-3">

            <% if offer.photo.attached? %>
              <%= cl_image_tag offer.photo.key, class:"picture" %>
              <% else %>
              <%= image_tag "no_photo.jpg", class:"picture" %>
            <% end %>

            <div class="texte">
              <h2><%= offer.name %></h2>
              <!--<i class="far fa-heart"></i>--->
              <p><%= truncate(offer.description) %></p>
              <p><strong><%= offer.price_per_day %> $</strong></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


        <div id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
  </div>
</div>
